ul {

    list-style-type: none;

}
body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.buttonName{
    margin-right: 30%;
}
#expanded button{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 300px;
    color: white;
    background: deepskyblue;
    border-radius: 3px;
    border: none;
    font-weight: 600;
}
#expanded button img{
    margin-left: 4%;
    width: 20px;
    height: 15px;
    margin-right: 3%;
}
#expanded .dropList{
    background: url("img/listItems.png") no-repeat ;
    background-size: 99% 100%;
    color: grey;
    font-weight: 600;
    width: 300px;
    height: 150px;
    border-radius: 3px;
}
#expanded div ul{
    padding: 2.5% 0 0 0 ;
}
#expanded ul li:first-child{
    border-radius: 3px 3px 0 0;
    border-bottom: solid 1px lightgrey;
}
#expanded ul li:last-child{
    border-top: solid 1px lightgrey;
    border-radius: 0 0 3px 3px ;
}

#expanded ul li {
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#collapsed .dropList{
    display:none
}
#collapsed button{
    height: 50px;
    width: 300px;
    color: darkgrey;
    background: white;
    border-radius: 3px;
    border: none;
}
#collapsed button img{
    width: 21px;
    height: 21px;
}

